/* LAYOUT RESET AND BODY SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* GOOGLE ICONS */

.material-icons-outlined {
    font-family: 'Material Icons';
    color: rgba(0, 0, 0, 0.54);
}

.material-icons {
        font-family: 'Material Icons';
        color: rgba(0, 0, 0, 0.54);
}

/* NAVBAR */

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

#navbar span{
    margin: auto 0.5rem;
}

#app-icon {
    font-size: 1.4rem;
    user-select: none;
    cursor: pointer;
}

#app-icon:hover {
    color: black;
}

#access-btn {
    background-color: #4285F4;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    user-select: none;
}

/* MAIN */

/* LOGO */

#logo-section {
    margin: 6rem auto 0;
    position: relative;
    width: 20rem;
}

#logo-section p {
    color: #4285F4;
    position: absolute;
    right: 1rem;
    bottom: 0.35rem;
    user-select: none;
}

/* SEARCH WRAPPER */

#search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-color: white;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    width: fit-content;
}

#search-wrapper:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

#search-wrapper span {
    margin: auto 0.5rem;
    user-select: none;
}

#search-icon {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .35)
}

#search-wrapper input {
    min-width: 32vw;
    outline: none;
    border: none;
}

#search-wrapper #camera-icon {
    cursor: pointer;
}

#search-wrapper img {
    margin: auto 0.35rem;
    height: 1.2rem;
    cursor: pointer;
}

#search-wrapper #icon-blue{
    color: #4285F4;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

/* SUB-SECTION */

#sub-section {
    margin: 2.5rem 1rem;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.75);
}

#sub-section span {
    margin: auto 0.5rem;
}

#shield-icon {
    height: 3rem;
}

a {
    text-decoration: none;
}

/* FOOTER */

#footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    
}

#footer-container .footer-item {
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    
}

#footer-container p, .nav-link {
    color: rgba(0, 0, 0, .54);
    padding: 0.75rem 0;
    margin: auto 0.75rem;
    font-size: 14px;
}

#footer-container .nav-link:hover {
    text-decoration: underline;
}

#footer-left, #footer-right {
    display: flex;
}
